.hero{
    width: 100%;
    height: 600px;
    background-image: url('./img/sunset.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.hero figcaption {
    color: orangered;
    font-weight: 900;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 25px;
}

.header {
    width: 100%;
    height: 90px;
    background-color: orangered;
    border-radius: 20px;
}

.header h1 {
    text-align: center;
    padding-top: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pie {
    width: 100%;
    height: 177px;
    background-color: rgb(255, 106, 7);
    border-radius: 25px;
    position: sticky;
}